In [14]:
import pandas as pd
df = pd.read_csv('data.tsv', sep='\t')
df

,Unnamed: 0,0,1
0,0,"Потому , что не было уверенности , что все чит...",O O O O O O O O O O O O O O O O O O O O O O O ...
1,1,"> Каким приговором , указом каким > Ты здесь ,...",O O O O O O O O O O O O O O O O O
2,2,"Подумал , что летом ребята куда затащили .",O O O O B-CHAR O O O
3,3,Нашел потрясающие материалы о В . М . Брадисе ...,O O O O B-PER I-PER I-PER I-PER I-PER O O B-CH...
4,4,Уж то ростовское дело куда ярче !..,O O O O O O O
...,...,...,...
1326,1326,"23 мая , примерно в 7 часов ( 18 .",O O O O O O O O O O
1327,1327,Всю дорогу разговаривали .,O O O O
1328,1328,"Но не столь сильно , чтобы стать замкнутым в с...",O O O O O O O O O O O O O
1329,1329,В русском переводе примерно такой : « Здравств...,O O O O O O O O O O B-CHAR O
1330,1330,"Если , как это у них принято , письмо переправ...",O O O O O O O O O O O B-ORG O O O O O O O O O ...

In [17]:
result = df[df['1'].str.contains('CHAR|PER')]

2              Подумал , что летом ребята куда затащили .
3       Нашел потрясающие материалы о В . М . Брадисе ...
9       А рейтинг Ельцина рос , поэтому критика в его ...
16                             Теперь Гладилова уезжает .
19                                  — « Эмма все врет ! »
                              ...
1315     Я пел « оперу » « Игорь Алтунин — супер стар » .
1318                               Хорошо говорит Битов .
1320                            ( Чья-то родственница ) .
1324    Игорь Дедков в телефонном разговоре очень удив...
1329    В русском переводе примерно такой : « Здравств...
Name: 0, Length: 511, dtype: object

In [20]:
result['0'].to_csv('data_perchar.tsv', index=False, encoding='UTF-8')